In [46]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
import os

In [47]:
os.getcwd()
os.chdir('E:\Python\graded assignments')

In [48]:
terror=pd.read_csv('terror.csv',header=0,sep=',',engine='python',keep_default_na=True)

In [49]:
terror.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156772 entries, 0 to 156771
Columns: 137 entries, eventid to related
dtypes: float64(55), int64(24), object(58)
memory usage: 163.9+ MB

In [50]:
terror.tail()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
156767,201512310032,2015,12,31,NaN,0,NaN,34,Burundi,11,...,Casualty numbers for this incident conflict ac...,"""1 dead, dozens injured in Burundi grenade att...","""One dead, dozen hurt in Burundi grenade attac...",NaN,START Primary Collection,-9,-9,0,-9,NaN
156768,201512310033,2015,12,31,2015-12-31 00:00:00,0,NaN,96,Ireland,8,...,NaN,"""Gardaí investigate Knocknaheeny pipe bomb,"" C...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
156769,201512310034,2015,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Village official killed, 2 injured in Marawi,...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
156770,201512310036,2015,12,31,2015-12-31 00:00:00,0,NaN,182,Somalia,11,...,NaN,"""Africa Command OSINT Daily 31 December 2015,""...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
156771,201512310037,2015,12,31,NaN,1,1/16/16,113,Libya,10,...,Casualty numbers for this attack conflict acro...,"""20 Egyptian captives return from Libya, one r...","""21 abducted nationals released in Libya,"" Cai...","""Libya Daily Digest January 20, 2016,"" Libya D...",START Primary Collection,0,1,1,1,NaN

In [51]:
#Q.1) How many attacks happened in India?

terror.query("country_txt=='India'").shape[0]

9940

In [52]:
terror[terror['country_txt']=="India"]

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
1185,197202220004,1972,2,22,NaN,0,NaN,92,India,6,...,NaN,NaN,NaN,NaN,Hijacking DB,1,1,1,1,NaN
2688,197501190004,1975,1,2,NaN,0,NaN,92,India,6,...,The case is very unclear and there are many ru...,"""Leaders of India Irate at Killing: Death of A...","Dhananjay Mahapatra, ""SC: Why has LN Mishra mu...",NaN,UMD Encyclopedia of World Terrorism 2012,0,0,0,0,NaN
3780,197605260001,1976,5,26,NaN,0,NaN,92,India,6,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,0,-9,NaN
5251,197709280004,1977,9,28,NaN,0,NaN,92,India,6,...,NaN,NaN,NaN,NaN,Hijacking DB,1,1,1,1,NaN
7261,197901130004,1979,1,13,NaN,0,NaN,92,India,6,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
7266,197901140001,1979,1,14,NaN,0,NaN,92,India,6,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,0,-9,NaN
8098,197904260007,1979,4,26,NaN,0,NaN,92,India,6,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
8609,197906140040,1979,6,14,NaN,0,NaN,92,India,6,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
8755,197907010008,1979,7,1,NaN,0,NaN,92,India,6,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
8760,197907020003,1979,7,2,NaN,0,NaN,92,India,6,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
8761,197907020004,1979,7,2,NaN,0,NaN,92,India,6,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
8977,197908080005,1979,8,8,NaN,0,NaN,92,India,6,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
9037,197908190001,1979,8,19,NaN,0,NaN,92,India,6,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
9040,197908200003,1979,8,20,NaN,0,NaN,92,India,6,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
9070,197908250002,1979,8,25,NaN,0,NaN,92,India,6,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
9072,197908260001,1979,8,26,NaN,0,NaN,92,India,6,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,0,-9,NaN
9081,197908270006,1979,8,27,NaN,0,NaN,92,India,6,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
9082,197908270007,1979,8,27,NaN,0,NaN,92,India,6,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
9090,197908290001,1979,8,29,NaN,0,NaN,92,India,6,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,0,-9,NaN
9137,197909080001,1979,9,8,NaN,0,NaN,92,India,6,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
9237,197909220008,1979,9,22,NaN,0,NaN,92,India,6,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
9691,197912050003,1979,12,5,NaN,0,NaN,92,India,6,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,0,-9,NaN
9732,197912120004,1979,12,12,NaN,0,NaN,92,India,6,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,0,-9,NaN
9801,197912200009,1979,12,20,NaN,0,NaN,92,India,6,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
9841,198001010005,1980,1,1,NaN,0,NaN,92,India,6,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,0,-9,NaN
9887,198001090004,1980,1,9,NaN,0,NaN,92,India,6,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,0,-9,NaN
10407,198003210002,1980,3,21,NaN,0,NaN,92,India,6,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
10414,198003210009,1980,3,21,NaN,0,NaN,92,India,6,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
10522,198004040001,1980,4,4,NaN,0,NaN,92,India,6,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,0,-9,NaN
10744,198004250006,1980,4,25,NaN,0,NaN,92,India,6,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,0,-9,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156156,201512150020,2015,12,15,NaN,1,12/16/15,92,India,6,...,Casualty numbers for this incident represent a...,"""Naxals kill 2 villagers,"" United News of Indi...",NaN,NaN,START Primary Collection,-9,-9,0,-9,"201512150019, 201512150020"
156176,201512150051,2015,12,15,NaN,0,NaN,92,India,6,...,NaN,"""CRPF Jawan Injured in Blast in Chhattisgarh,""...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
156243,201512170021,2015,12,17,NaN,0,NaN,92,India,6,...,Casualty numbers for this incident conflict ac...,"""Grenade lobbed at CRPF bunker in old City,"" K...","""Grenade attack in Srinagar, no one injured, 4...","""Militants Hurl Grenade at CRPF Bunker in Srin...",START Primary Collection,-9,-9,0,-9,NaN
156248,201512170030,2015,12,17,NaN,0,NaN,92,India,6,...,NaN,"""Bomb blasts at Imphal,"" UNI (United News of I...","""Bomb blasts at Imphal,"" United News of India,...",NaN,START Primary Collection,-9,-9,0,-9,NaN
156249,201512170031,2015,12,17,NaN,0,NaN,92,India,6,...,NaN,"""Grenade attack in Garo hills,"" The Telegraph ...","""Grenade lobbed at grocery shop in Williamnaga...",NaN,START Primary Collection,0,0,0,0,NaN
156292,201512180036,2015,12,18,NaN,0,NaN,92,India,6,...,Casualty numbers for this incident conflict ac...,"""Kerala: 4 Maoists accused of arson identified...","""Maoists kidnap forest watchmens, let off late...","""Maoists attack outpost, abduct forest staff, ...",START Primary Collection,0,0,0,0,NaN
156314,201512190025,2015,12,19,NaN,0,NaN,92,India,6,...,NaN,"""Maoists Blow up Mobile Tower,"" New Indian Exp...","""Odisha: Maoists Torch Mobile Tower in Koraput...","""Mobile tower torched in Baipariguda; Maoist h...",START Primary Collection,-9,-9,0,-9,NaN
156339,201512200017,2015,12,20,NaN,0,NaN,92,India,6,...,NaN,"""Odisha: Maoists Torch Mobile Tower in Koraput...","""Mobile tower torched in Baipariguda; Maoist h...",NaN,START Primary Collection,-9,-9,0,-9,NaN
156340,201512200018,2015,12,20,NaN,0,NaN,92,India,6,...,NaN,"""Grenade hurled at police post in Kashmir,"" Ti...","""Militants hurl grenade at Police post in Jamm...",NaN,START Primary Collection,-9,-9,0,-9,NaN
156383,201512210032,2015,12,21,NaN,0,NaN,92,India,6,...,NaN,"""19 Naxals arrested in Chhattisgarh,"" Economic...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
156384,201512210033,2015,12,21,NaN,0,NaN,92,India,6,...,Casualty numbers for this incident represent a...,"""Naxals kill tribal branding him police mole,""...",NaN,NaN,START Primary Collection,0,0,0,0,"201512210033, 201512210034"
156385,201512210034,2015,12,21,NaN,0,NaN,92,India,6,...,Casualty numbers for this incident represent a...,"""Naxals kill tribal branding him police mole,""...",NaN,NaN,START Primary Collection,0,0,0,0,"201512210033, 201512210034"
156388,201512210040,2015,12,21,NaN,0,NaN,92,India,6,...,NaN,"""Odisha police arrested 14 people for hurling ...","""Five jawans injured in crude bomb attack,"" Pr...","""Five IRB jawans critically injured in crude b...",START Primary Collection,-9,-9,0,-9,NaN
156389,201512210041,2015,12,21,NaN,0,NaN,92,India,6,...,NaN,"""Two high-intensity bombs recovered near Muzaf...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
156433,201512220046,2015,12,22,NaN,0,NaN,92,India,6,...,There is doubt that this incident meets terror...,"""Extortion whiff in trader killing - Cops susp...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
156458,201512230029,2015,12,23,NaN,1,12/24/15,92,India,6,...,NaN,"""Naxals kill former sarpanch in C'garh,"" NewsR...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
156459,201512230030,2015,12,23,NaN,0,NaN,92,India,6,...,There is doubt that this incident meets terror...,"""Bomb blasts at Imphal,"" UNI (United News of I...","""IED blast rips Majorkhul,"" Kangla Online, Dec...",NaN,START Primary Collection,-9,-9,0,-9,NaN
156483,201512240016,2015,12,24,NaN,0,NaN,92,India,6,...,NaN,"""Two policemen injured in militant attack in s...","""J&K police officer critically injured in mili...","""J&K police officer, PSO injured in militant a...",START Primary Collection,1,1,0,1,NaN
156499,201512240032,2015,12,24,NaN,0,NaN,92,India,6,...,NaN,"""Extremists blow up electric transformer,"" Hin...","""Unidentified miscreants set transformer on fi...",NaN,START Primary Collection,0,0,0,0,NaN
156529,201512250021,2015,12,25,NaN,0,NaN,92,India,6,...,Casualty numbers for this incident conflict ac...,"""Maoists kill two tribals in Odisha,"" The Time...","""Maoists strike to Kill two,"" New Indian Expre...","""Maoists strike to Kill two,"" New India Expres...",START Primary Collection,0,0,0,0,NaN
156530,201512250022,2015,12,25,NaN,0,NaN,92,India,6,...,Casualty numbers for this incident conflict ac...,"""Maoists kill two tribals in Odisha,"" The Time...","""Maoists strike to Kill two,"" New Indian Expre...","""Maoists strike to Kill two,"" New India Expres...",START Primary Collection,0,0,0,0,NaN
156533,201512250027,2015,12,25,NaN,0,NaN,92,India,6,...,NaN,"""IED recovered in reserve forest,"" United News...","""Bomb-like object found in Assam forest,"" Dail...",NaN,START Primary Collection,0,0,0,0,NaN
156569,201512260018,2015,12,26,NaN,1,12/29/15,92,India,6,...,Casualty numbers for this incident conflict ac...,"""Maoist abduct, kill postman in Bastar,"" The T...","""Naxals abduct post master in Chhattisgarh,"" U...","""Postmaster killed by Naxals in Chhattisgarh,""...",START Primary Collection,-9,-9,0,-9,NaN
156612,201512270045,2015,12,26,NaN,0,NaN,92,India,6,...,NaN,"""Cops foil plan to blow up bridge,"" Hindustan ...","""Maoist plan to blow up bridge foils police,"" ...",NaN,START Primary Collection,-9,-9,0,-9,NaN
156658,201512280035,2015,12,27,2015-12-27 00:00:00,0,NaN,92,India,6,...,NaN,"""J-K: Tragedy averted as jawans find, defuse 5...","""5 kg IED recovered on Mendhar Poonch road,"" G...","""J-K: Terror attack averted, army finds bomb,""...",START Primary Collection,-9,-9,0,-9,NaN
156695,201512290035,2015,12,29,NaN,1,1/3/16,92,India,6,...,NaN,"""Naxals release three Pune youths abducted in ...","""Three Maharashtrian students abducted by Maoi...","""Maoists release 3 abducted Pune youths,"" New ...",START Primary Collection,-9,-9,0,-9,NaN
156698,201512290038,2015,12,29,NaN,0,NaN,92,India,6,...,NaN,"""Explosive device found,"" The Hindu, December ...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
156713,201512290054,2015,12,29,NaN,1,12/31/15,92,India,6,...,NaN,"""Six people abducted in Balochistan,"" South As...","""Kidnappers arrested,"" Assam Times, January 6,...",NaN,START Primary Collection,0,0,0,0,NaN
156725,201512300016,2015,12,30,NaN,0,NaN,92,India,6,...,NaN,"""NSCN-K cadre killed in exchange of fire in Di...",NaN,NaN,START Primary Collection,0,1,0,1,NaN
156756,201512310020,2015,12,31,NaN,0,NaN,92,India,6,...,NaN,"""Grenade hurled at Police Station Khanyar,"" Ka...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN

In [53]:
#Q.2) How many attacks happened in India and upto 3 people were killed?
terror.loc[(terror["country_txt"]=="India") & (terror["nkill"]<=3)].shape[0]

8362

In [54]:
terror.keys().tolist()

['eventid',
 'iyear',
 'imonth',
 'iday',
 'approxdate',
 'extended',
 'resolution',
 'country',
 'country_txt',
 'region',
 'region_txt',
 'provstate',
 'city',
 'latitude',
 'longitude',
 'specificity',
 'vicinity',
 'location',
 'summary',
 'crit1',
 'crit2',
 'crit3',
 'doubtterr',
 'alternative',
 'alternative_txt',
 'multiple',
 'success',
 'suicide',
 'attacktype1',
 'attacktype1_txt',
 'attacktype2',
 'attacktype2_txt',
 'attacktype3',
 'attacktype3_txt',
 'targtype1',
 'targtype1_txt',
 'targsubtype1',
 'targsubtype1_txt',
 'corp1',
 'target1',
 'natlty1',
 'natlty1_txt',
 'targtype2',
 'targtype2_txt',
 'targsubtype2',
 'targsubtype2_txt',
 'corp2',
 'target2',
 'natlty2',
 'natlty2_txt',
 'targtype3',
 'targtype3_txt',
 'targsubtype3',
 'targsubtype3_txt',
 'corp3',
 'target3',
 'natlty3',
 'natlty3_txt',
 'gname',
 'gsubname',
 'gname2',
 'gsubname2',
 'gname3',
 'ingroup',
 'ingroup2',
 'ingroup3',
 'gsubname3',
 'motive',
 'guncertain1',
 'guncertain2',
 'guncertain3',
 'nperps',
 'nperpcap',
 'claimed',
 'claimmode',
 'claimmode_txt',
 'claim2',
 'claimmode2',
 'claimmode2_txt',
 'claim3',
 'claimmode3',
 'claimmode3_txt',
 'compclaim',
 'weaptype1',
 'weaptype1_txt',
 'weapsubtype1',
 'weapsubtype1_txt',
 'weaptype2',
 'weaptype2_txt',
 'weapsubtype2',
 'weapsubtype2_txt',
 'weaptype3',
 'weaptype3_txt',
 'weapsubtype3',
 'weapsubtype3_txt',
 'weaptype4',
 'weaptype4_txt',
 'weapsubtype4',
 'weapsubtype4_txt',
 'weapdetail',
 'nkill',
 'nkillus',
 'nkillter',
 'nwound',
 'nwoundus',
 'nwoundte',
 'property',
 'propextent',
 'propextent_txt',
 'propvalue',
 'propcomment',
 'ishostkid',
 'nhostkid',
 'nhostkidus',
 'nhours',
 'ndays',
 'divert',
 'kidhijcountry',
 'ransom',
 'ransomamt',
 'ransomamtus',
 'ransompaid',
 'ransompaidus',
 'ransomnote',
 'hostkidoutcome',
 'hostkidoutcome_txt',
 'nreleased',
 'addnotes',
 'scite1',
 'scite2',
 'scite3',
 'dbsource',
 'INT_LOG',
 'INT_IDEO',
 'INT_MISC',
 'INT_ANY',
 'related']

In [55]:
#Q.3) Extract the city and summary for attacks above
terror.loc[(terror["country_txt"]=="India") & (terror["nkill"]<=3),['city','summary','nkill']]

,city,summary,nkill
1185,New Delhi,NaN,0.0
3780,New Delhi,NaN,0.0
5251,Bombay,NaN,0.0
7266,Imphal,NaN,3.0
8609,Unknown,NaN,1.0
8755,Unknown,NaN,2.0
8977,Amapur,NaN,1.0
9037,Raisikah,NaN,1.0
9040,Champhai,NaN,1.0
9070,Aizawl,NaN,1.0
9072,Jamshedpur,NaN,1.0
9081,New Delhi,NaN,1.0
9082,New Delhi,NaN,1.0
9090,Jamshedpur,NaN,3.0
9137,Chennai,NaN,3.0
9691,Unknown,NaN,0.0
9732,Unknown,NaN,1.0
9801,Unknown,NaN,3.0
9841,Imphal,NaN,1.0
9887,Unknown,NaN,2.0
10407,Chiaplant,NaN,1.0
10522,Calcutta,NaN,2.0
10744,New Delhi,NaN,1.0
12187,Unknown,NaN,0.0
12391,Unknown,NaN,0.0
12439,Unknown,NaN,0.0
13049,Gauhati,NaN,0.0
13177,Jorhat,NaN,1.0
13300,Unknown,NaN,3.0
13875,Unknown,NaN,0.0
...,...,...,...
156156,Dariyakona,12/15/2015: Assailants abducted Baghel Gond fr...,1.0
156176,Awapalli,12/15/2015: An explosive device detonated in A...,0.0
156243,Srinagar,12/17/2015: Assailants fired a rifle grenade a...,0.0
156248,Imphal,12/17/2015: An explosive device detonated in D...,0.0
156249,Williamnagar,12/17/2015: Assailants threw a grenade at a st...,0.0
156292,Pookottumpadam,12/18/2015: Assailants attacked an Indian Fore...,0.0
156314,Kalia Atala,12/19/2015: Assailants torched an Airtel cell ...,0.0
156339,Chipakur,12/20/2015: Assailants torched an under-constr...,0.0
156340,Kakpora,12/20/2015: Assailants threw a grenade at the ...,0.0
156383,Bastar district,12/21/2015: Security forces arrested three ass...,0.0
156384,Madathakonda,12/21/2015: Assailants abducted and killed Van...,1.0
156385,Madathakonda,12/21/2015: Assailants beat a civilian in Mada...,0.0
156388,Badapokharia,12/21/2015: Assailants threw at least nine cru...,0.0
156389,Simra Nizamat,12/21/2015: Police discovered and defused two ...,0.0
156433,Imphal,12/22/2015: Assailants shot and killed a baker...,1.0
156458,Nilawaya,"12/23/2015: Assailants abducted Hadma Ram, a f...",1.0
156459,Imphal,12/23/2015: An explosive device planted under ...,0.0
156483,Bijbehara,12/24/2015: Assailants opened fire on police p...,0.0
156499,Ramgarh,12/24/2015: Assailants detonated explosive dev...,0.0
156529,Badapadar,12/25/2015: Assailants attacked Jayaram Khara ...,1.0
156530,Kudumulgumma Raba,12/25/2015: Assailants attacked Sahdev Badanay...,1.0
156533,Sivasagar,12/25/2015: Security forces discovered and def...,0.0
156569,Pariya,12/26/2015: Assailants abducted Sujit Modiyami...,1.0
156612,Tillayya,12/26/2015: An assailant attempted to plant an...,0.0
156658,Mendhar,12/27/2015: An explosive device planted under ...,0.0
156695,Terem,12/29/2015: Assailants abducted three students...,0.0
156698,Peravurani,12/29/2015: An explosive device was discovered...,0.0
156713,Tulsibari,12/29/2015: Assailants abducted Hazrat Ali in ...,0.0
156725,Zhutovi,12/30/2015: Assailants attempted to extort mon...,1.0
156756,Srinagar,12/31/2015: Assailants threw a grenade at an I...,0.0

In [122]:
#Q.4) In a single terror incident in India, find out top 5 cities by number killed

terror.query("country_txt=='India'").sort_values('nkill',ascending=False)['city'].head(5)

81000                Mumbai
96598               Jhargam
54339                Bombay
95860    Dantewada district
56837              Banabari
Name: city, dtype: object

In [121]:
#Q.5) In a single terror incident in India, find out top 5 cities by number killed and wounded
terror.query("country_txt=='India'").sort_values('nwound',ascending=False).sort_values('nkill',ascending=False)['city'].head(5)

81000                Mumbai
54339                Bombay
96598               Jhargam
95860    Dantewada district
56837              Banabari
Name: city, dtype: object

In [58]:
#Q.6) How many attacks were successful that were suicide attacks?

terror.loc[(terror["suicide"]==1) & (terror["success"]==1)].shape[0]

4260

In [59]:
#Q.7) Label all the incidents where the number killed was more than 5 as severe

s= lambda x : x>5
severe=terror['nkill'].apply(s)

In [60]:
severe.tail()

156767    False
156768    False
156769    False
156770    False
156771    False
Name: nkill, dtype: bool

In [61]:
#Q.8) write a function to label an incident that was both successful and suicidal


su= (lambda x,y : x&y)
success=su(terror['suicide'], terror['success'])

In [62]:
success.describe()

count    156772.000000
mean          0.027173
std           0.162588
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
dtype: float64

In [120]:
#Q.9) Create a new category representing if the incident occured in Afghanistan,
#Pakistan or India as one level of the category and all the other countries as
#another level. Label all other countries as ROW and new column which contains
#the new category as ‘Local’ in the data.
terror['Local']=np.where(terror['country_txt'].str.contains('India')|terror['country_txt'].str.contains('Pakistan')|terror['country_txt'].str.contains('Afghanistan'), "Local","ROW")

In [97]:
#Q.10) How many incidents happened in Af-Pak-India vs ROW?

terror['Local'].value_counts()

ROW      124374
Local     32398
Name: Local, dtype: int64

In [119]:
#Q.11) List the number of suicides attacks and average kills by Af-Pak-India vsROW. Rename columns in the output as Average_Kills for average kills and
#Number_Incidents for count of suicide attacks.


terror.groupby(["Local","suicide"],as_index=False).agg({'nkill':np.mean}).rename(columns={"nkill":"Average_kills"})

   Local  suicide  Average_kills
0  Local        0       1.816514
1  Local        1       8.127404
2    ROW        0       2.167010
3    ROW        1      11.511403

In [115]:
terror.groupby(["Local","suicide"],as_index=False).agg({'nkill':np.count_nonzero}).rename(columns={"nkill":"Number_Incidents"})

   Local  suicide  Number_Incidents
0  Local        0           16550.0
1  Local        1            1368.0
2    ROW        0           58744.0
3    ROW        1            3194.0