In [3]:
import math
import pandas as pd
from sklearn.model_selection import train_test_split 

from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score, roc_curve, auc
import matplotlib.pylab as plt

from dmba import regressionSummary, classificationSummary
from dmba import liftChart, gainsChart

In [33]:
import os
os.chdir("C:\\Users\\alwar\\OneDrive\\Documents\\Code\\Datascience\\Python\\Lupin_Triglycerides\\dataset")

In [38]:
tgl= pd.read_csv('train.csv')

In [39]:
tgl.describe()

,age,height_in_cm,weight_in_lbs,left_eyesight_lvl,right_eyesight_lvl,blood_pressure_lvl1,blood_pressure_lvl2,glucose_lvl,total_cholestrol,good_cholestrol_lvl,bad_cholestrol_lvl,hemoglobin_lvl,urea_lvl,creatinine_lvl,liver_enzyme_lvl1,liver_enzyme_lvl2,triglyceride_lvl
count,22400.000000,22400.000000,22400.000000,22400.000000,22400.000000,22400.000000,22400.000000,22400.000000,22400.000000,22400.000000,22400.000000,22400.000000,22400.000000,22400.000000,22400.000000,20850.000000,22400.000000
mean,47.586607,162.689286,139.644081,0.982098,0.978196,122.561473,76.120491,100.578304,195.399554,57.216250,113.063616,14.239942,1.097321,0.859469,25.824598,25.636259,130.173438
std,14.167025,9.710639,27.550786,0.613311,0.590100,14.581722,9.921338,24.334669,39.042778,55.983373,47.987373,1.563570,0.445315,0.292106,14.968670,20.521723,84.361161
min,20.000000,125.000000,66.140000,0.100000,0.100000,75.000000,42.000000,51.000000,54.000000,4.000000,1.000000,8.100000,1.000000,0.100000,4.000000,2.000000,1.000000
25%,35.000000,155.000000,121.250000,0.700000,0.700000,112.000000,70.000000,88.000000,169.000000,46.000000,89.000000,13.200000,1.000000,0.700000,19.000000,15.000000,73.000000
50%,45.000000,165.000000,132.280000,1.000000,1.000000,121.000000,76.000000,96.000000,193.000000,55.000000,111.000000,14.300000,1.000000,0.800000,23.000000,20.000000,107.000000
75%,60.000000,170.000000,154.320000,1.200000,1.200000,131.000000,82.000000,105.000000,219.000000,66.000000,135.000000,15.400000,1.000000,1.000000,28.000000,30.000000,159.000000
max,85.000000,200.000000,286.600000,9.900000,9.900000,230.000000,160.000000,468.000000,1619.000000,8110.000000,5119.000000,18.000000,6.000000,16.400000,911.000000,659.000000,500.000000

In [40]:
tgl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22400 entries, 0 to 22399
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   candidate_id         22400 non-null  object
 1   gender               22400 non-null  object
 2   age                  22400 non-null  int64
 3   height_in_cm         22400 non-null  int64
 4   weight_in_lbs        22400 non-null  float64
 5   left_eyesight_lvl    22400 non-null  float64
 6   right_eyesight_lvl   22400 non-null  float64
 7   can_hear_left_ear    22400 non-null  object
 8   can_hear_right_ear   22400 non-null  object
 9   blood_pressure_lvl1  22400 non-null  float64
 10  blood_pressure_lvl2  22400 non-null  float64
 11  glucose_lvl          22400 non-null  float64
 12  total_cholestrol     22400 non-null  float64
 13  good_cholestrol_lvl  22400 non-null  float64
 14  bad_cholestrol_lvl   22400 non-null  float64
 15  hemoglobin_lvl       22400 non-null  float64
 16  urea_lvl             22400 non-null  float64
 17  creatinine_lvl       22400 non-null  float64
 18  liver_enzyme_lvl1    22400 non-null  float64
 19  liver_enzyme_lvl2    20850 non-null  float64
 20  smoking_habit        20889 non-null  object
 21  drinking_habit       20908 non-null  object
 22  residential_area     22400 non-null  object
 23  triglyceride_lvl     22400 non-null  float64
dtypes: float64(15), int64(2), object(7)
memory usage: 4.1+ MB

In [42]:
tgl.columns

Index(['candidate_id', 'gender', 'age', 'height_in_cm', 'weight_in_lbs',
       'left_eyesight_lvl', 'right_eyesight_lvl', 'can_hear_left_ear',
       'can_hear_right_ear', 'blood_pressure_lvl1', 'blood_pressure_lvl2',
       'glucose_lvl', 'total_cholestrol', 'good_cholestrol_lvl',
       'bad_cholestrol_lvl', 'hemoglobin_lvl', 'urea_lvl', 'creatinine_lvl',
       'liver_enzyme_lvl1', 'liver_enzyme_lvl2', 'smoking_habit',
       'drinking_habit', 'residential_area', 'triglyceride_lvl'],
      dtype='object')

In [54]:
par=['age',height_]
tgl_train=tgl[par]

KeyError: "[' height_in_cm ', 'weight_in_lbs '] not in index"

In [ ]:

# partition data
X = car_df[predictors]
y = car_df[outcome]
train_X, valid_X, train_y, valid_y = train_test_split(X, y, test_size=0.4,
                                                    random_state=1)

In [ ]:

# train linear regression model
reg = LinearRegression()
reg.fit(train_X, train_y)

In [ ]:

# evaluate performance
# training
regressionSummary(train_y, reg.predict(train_X))
# validation
regressionSummary(valid_y, reg.predict(valid_X))